.modal {
	max-width: 100svw;
	width: 100%;
	max-height: 100svh;
	height: 100%;
	margin: auto;

	background-color: transparent;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;

	overflow: hidden;
}
.modal::-webkit-scrollbar {
	display: none;
}
.modal::backdrop {
	max-height: 100%;
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	position: relative;
}
.modal:-internal-dialog-in-top-layer {
	position: absolute;
}
.fixbtn {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	max-width: 1000px;
	width: 100%;
	height: 50px;
	z-index: 20;
}
.clsbtn {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 20px;

	background-color: black;
	border-radius: 50%;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	transition: all 0.3s ease-in-out;
	outline: none;
}
.clsbtn:focus {
	outline: none;
}
.clsbtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.imgbox {
	margin-top: 10px;
	max-width: 100vw;
	height: 100%;
	opacity: 0;
	user-select: none;
	overflow-y: auto;
	z-index: 12;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: scaleUp 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

	scroll-behavior: smooth;
}
.imgbox::-webkit-scrollbar {
	display: none;
}
.out {
	animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes scaleUp {
	0% {
		transform: scale(0.8) translateY(1000px);
		opacity: 0;
	}
	100% {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
}

@keyframes scaleDown {
	0% {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
	100% {
		transform: scale(0.8) translateY(1000px);
		opacity: 0;
	}
}
@keyframes modalContentFadeIn {
	0% {
		opacity: 0;
		padding: 20px;
		background-color: transparent;
	}
	100% {
		opacity: 1;
		padding: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
}
@keyframes modalContentFade {
	0% {
		opacity: 0;
		backdrop-filter: blur(0);
		transform: scale(1.04);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		backdrop-filter: blur(10px);
	}
}
